<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/app/Hernia/static/styles/password_reset_confirm.css">
</head>
<body class="bg-gray-100" id="body">

    <div class="container mx-auto h-screen flex justify-center items-center">
        <div class="bg-white bg-opacity-50 backdrop-filter backdrop-blur-md p-8 rounded-lg shadow-lg w-96">
            <h2 class="text-2xl font-semibold text-gray-800 text-center mb-6">Restablecer Contraseña</h2>

            <!-- Mostrar mensajes de error generales -->
            {% if form.non_field_errors %}
                <div class="mb-4 text-red-500">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="new_password1" class="block text-black">Nueva Contraseña:</label>
                    <input type="password" id="new_password1" name="new_password1" required class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300">
                    
                    <!-- Mostrar errores de nueva contraseña -->
                    {% if form.new_password1.errors %}
                        <div class="text-red-500 text-sm">
                            {% for error in form.new_password1.errors %}
                                {% if "This password is too short" in error %}
                                    La contraseña es demasiado corta. Debe contener al menos 8 caracteres.
                                {% elif "This password is too common" in error %}
                                    La contraseña es demasiado común. Elige una contraseña más segura.
                                {% elif "This password is entirely numeric" in error %}
                                    La contraseña no puede ser solo números.
                                {% else %}
                                    {{ error }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-6">
                    <label for="new_password2" class="block text-black">Confirmar Nueva Contraseña:</label>
                    <input type="password" id="new_password2" name="new_password2" required class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300">
                    
                    <!-- Mostrar errores de confirmación de nueva contraseña -->
                    {% if form.new_password2.errors %}
                        <div class="text-red-500 text-sm">
                            {% for error in form.new_password2.errors %}
                                {% if "The two password fields didn't match" in error %}
                                    Las contraseñas no coinciden. Inténtalo de nuevo.
                                {% else %}
                                    {{ error }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div>
                    <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-md transition-transform transform hover:scale-105 duration-300">Restablecer Contraseña</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/app/Hernia/static/js/password_reset_confirm.js"></script>
</body>
</html>
