<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/app/Hernia/static/styles/password_reset.css">
</head>
<body class="bg-gray-100" id="body">
    <!-- Contenedor del Interruptor de Modo Oscuro
    <div class="fixed top-4 right-4 z-50">
        <label class="switch">
            <input type="checkbox" id="darkModeToggle">
            <span class="slider"></span>
        </label>
    </div> -->

    <div class="container mx-auto h-screen flex justify-center items-center">
        <div class="bg-white bg-opacity-50 backdrop-filter backdrop-blur-md p-8 rounded-lg shadow-lg w-96"> <!-- Transparencia aplicada -->
            <h2 class="text-2xl font-semibold text-gray-800 text-center mb-6">Restablecer Contraseña</h2>

            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="email" class="block text-black">Correo Electrónico:</label>
                    <input type="email" id="email" name="email" required class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300">
                </div>
                <div>
                    <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-md transition-transform transform hover:scale-105 duration-300">Enviar Enlace de Restablecimiento</button>
                </div>
            </form>
           <!-- Mostrar el botón 'Volver al Login' solo si el usuario no está autenticado -->
           {% if not user.is_authenticated %}
            <div class="mt-4">
                <a href="{% url 'login' %}" class="block w-full bg-gray-300 text-gray-800 text-center py-2 rounded-md hover:bg-gray-400 transition-transform transform hover:scale-105 duration-300">Volver al Login</a>
            </div>
           {% endif %}

           <!-- Mostrar el botón de 'Volver al Home' si el usuario está autenticado -->
           {% if user.is_authenticated %}
            <div class="mt-4">
                <a href="{% url 'index' %}" class="block w-full bg-gray-300 text-gray-800 text-center py-2 rounded-md hover:bg-gray-400 transition-transform transform hover:scale-105 duration-300">Volver al Home</a>
            </div>
           {% endif %}
        </div>
    </div>
    <script src="/app/Hernia/static/js/password_reset.js"></script>
</body>
</html>
