/* Estilo general */
body {
    background-image: url('/app/Hernia/static/images/fondo_login.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #1a202c; /* Color de texto por defecto */
}

/* Modo claro */
.light-mode {
    background-color: #f7fafc !important; /* Fondo claro */
}

.light-mode input,
.light-mode textarea {
    background-color: #ffffff;
    border-color: #e2e8f0;
    color: #1a202c;
}

/* Estilo para el interruptor */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 50px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4a5568;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Contenedor de contraseña */
.password-container {
    position: relative;
}

.password-container .eye-icon {
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #626060;
}

.password-container input {
    padding-right: 2.5rem;
}
