
body {
    background-color: #f5f5f5; 
    color: #333; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar {
    background-color: #fff; 
    padding: 1rem;
}

.logo-img {
    height: 3rem; 
}

.user-menu {
    display: flex;
    align-items: center;
}

.toggle-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.card {
    background-color: #fff; 
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 300px; 
    height: 490px; 
    
}

.card-andres {
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px); 
    border-radius: 0.5rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 1rem; 
    flex: 1; 
    height: 500px; 
    width: 100%; 
    max-width: 600px; 
}
.card img {
    width: 100px; 
    height: 100px; 
    margin-bottom: 20px; 
}


.dark {
    background-color: #333; 
    color: #f5f5f5; 
}

.dark .navbar {
    background-color: #222; 
}

.dark .card {
    background-color: #444; 
}


.alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #444;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.alert.hidden {
    display: none;
}

.alert.hide {
    transform: translateX(100%);
    opacity: 0;
}

.alert-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    cursor: pointer;
    font-size: 20px;
}


.typing-effect {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: #333;
    text-align: center;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}


    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1); 
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.8); 
    }
